.selectionpage {
  width: inherit;
  height: 94vh; // Based on status bar
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
}

.helper_txt {
  position: absolute;
  font-size: 28px;
  text-align: center;
  font-weight: bold;
  top: 15vh;
  width: inherit;
}
.btn_container {
  position: absolute;
  display: flex;
  width: inherit;
  height: 45vh;
  top: 27vh;

  .gsl_txt,
  .presc_txt {
    display: flex;
    align-items: center;
    height: inherit;
    position: absolute;
    font-size: 36px;
    top: 0vh;
  }

  .gsl_txt {
    left: 10vw;
    width: 17vw;
  }

  .presc_txt {
    left: 56vw;
  }

  .gsl_btn,
  .presc_btn {
    outline: none;
    width: 38vw;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7),
      inset 0px 0px 4px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    border: none;
    background: #ffffff;
  }

  .gsl_btn {
    margin-left: 8vw;
    margin-right: 8vw;
    background-image: url("../img/brett-jordan-rJVflgqasr4-unsplash.png");
    background-repeat: no-repeat;
    background-position: 23vw;
    background-size: 40%;
  }

  .presc_btn {
    background-image: url("../img/person-in-white-hand-gloves-writing-on-white-paper-207601.png");
    background-repeat: no-repeat;
    background-position-x: 23vw;
    background-position-y: 3vh;
    background-size: 40%;
  }
}
