$PrimaryFont: whitesmoke;
$SecondaryFont: black;
$Orange: #e79b25;
$Basepanel: whitesmoke;

.m-sidebar {
  position: absolute;
  width: 60px;
  height: calc(100vh - 70px);
  left: 10px;

  color: $PrimaryFont;
  text-align: center;
  font-size: 12px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);

  border-radius: 10px;
  margin-top: 10px;

  animation: sliding 0.4s ease-out 1;

  div {
    position: absolute;
    height: 150px;
    width: inherit;
    top: calc((100vh - 220px) / 2);

    text-align: center;
  }

  p {
    position: absolute;
    width: 60px;
    height: 50px;
    top: 50px;
    margin: 0px;
  }

  .m-sidebar-up {
    position: absolute;
    top: 0px;

    display: block;
    margin-left: 5px;
    // animation: pulse 3s ease-out infinite;
  }

  .m-sidebar-down {
    position: absolute;
    bottom: 0px;

    display: block;
    margin-left: 5px;
    // animation: pulse 3s linear infinite;
  }
}

@keyframes sliding {
  from {
    transform: translateX(-60px);
  }
  to {
    transform: translateX(0px);
  }
}

.m-cart-list {
  width: 450px;
  height: 350px;

  padding: 0px;

  margin-left: 25px;

  overflow-y: scroll;
}

.m-cart-list::-webkit-scrollbar {
  display: none;
}

.m-cart-arrowdown,
.m-cart-arrowup {
  width: 450px;
  height: 50px;

  margin-left: 25px;

  text-align: center;

  img {
    // animation: pulse 3s ease-out infinite;
  }
}

@keyframes pulse {
  0% {
    opacity: 1;
    transform: none;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

.m-checkout-cta {
  position: absolute;
  width: 450px;
  height: 45px;
  bottom: 0px;

  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 22px;
  font-weight: bold;
  color: $PrimaryFont;

  background-color: $Orange;
  border: none;
  border-radius: 10px;

  margin-left: 25px;
  margin-bottom: 20px;

  outline: none;
}

.m-checkout-cta:active {
  background-color: darken($Orange, 10%);
  color: darken($PrimaryFont, 10%);
}

.m-item-cta {
  width: 200px;
  height: calc((100vh - 90px) / 3);

  background-repeat: no-repeat;
  background-size: 80%;
  background-position: 20px 0px;

  border-radius: 30px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);

  outline: none;
}

.m-iteminfo {
  width: 760px;
  height: calc(100vh - 70px);

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);

  margin-left: 5px;

  color: $PrimaryFont;

  border-radius: 10px;

  display: grid;
  grid-template-rows: 50px 26px 60px 21px 40px 3fr 3fr 1fr 65px;
  grid-template-columns: 1fr 1fr 70px;
  grid-template-areas:
    "img      gap1     close"
    "img      brand    gap2"
    "img      _name    gap3"
    "img      price    gap4"
    "img      stock    gap5"
    "img      desc     gap6"
    "qty      qty      qty"
    "subtotal subtotal subtotal"
    "add     add       add";

  .m-close-btn {
    grid-area: close;
    width: 70px;
    height: 50px;

    background-image: url("../../icons/close.png");
    background-size: 40%;
    background-repeat: no-repeat;
    background-position: center;

    background-color: rgba(255, 255, 255, 0.1);

    border: none;
    border-top-right-radius: 10px;

    outline: none;
  }

  .m-close-btn:active {
    background-color: $Orange;
  }

  .m-iteminfo-img {
    grid-area: img;
    background-color: $Orange;
    margin: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;

    border-radius: 10px;
  }

  .m-iteminfo-brand {
    grid-area: brand;
    font-size: 16px;
    color: darken($PrimaryFont, 10%);
  }

  .m-iteminfo-name {
    grid-area: _name;
    font-size: 36px;
  }

  .m-iteminfo-price {
    grid-area: price;
    font-size: 16px;
  }

  .m-iteminfo-stock {
    grid-area: stock;
    font-size: 16px;
  }

  .m-iteminfo-desc {
    grid-area: desc;
    font-size: 16px;
  }

  .m-iteminfo-counter {
    grid-area: qty;
    display: flex;
    width: 240px;

    margin: auto;

    .m-iteminfo-plus,
    .m-iteminfo-minus {
      width: 50px;
      height: 50px;

      margin: auto;

      border-radius: 25px;
      font-size: 36px;

      color: $PrimaryFont;

      box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.35),
        inset 0px 0px 3px 0px rgba(255, 255, 255, 0.25);
      background-color: rgba(255, 255, 255, 0.1);

      outline: none;
    }

    .m-iteminfo-plus:active,
    .m-iteminfo-minus:active {
      background-color: $Orange;
    }

    .m-iteminfo-count {
      width: 100px;
      height: 50px;

      border-radius: 15px;
      font-size: 24px;

      text-align: center;
      vertical-align: middle;
      line-height: 50px;
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  .m-iteminfo-subtotal {
    grid-area: subtotal;
    margin: auto 25px;

    font-size: 26px;
  }

  .m-iteminfo-addtocart {
    grid-area: add;
    width: 710px;
    height: 45px;

    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
    font-size: 22px;
    font-weight: bold;
    color: $PrimaryFont;

    background-color: $Orange;
    border: none;

    border-radius: 10px;

    margin-left: 25px;
    outline: none;
  }

  .m-iteminfo-addtocart:active {
    background-color: darken($Orange, 10%);
    color: darken($PrimaryFont, 10%);
  }

  .m-iteminfo-addtocart:disabled {
    background-color: lighten($Orange, 20%);
  }
}

.m-cart-item {
  height: 70px;

  display: grid;
  grid-template-columns: 200px 90px 90px 50px;
  grid-template-rows: 1;

  color: $PrimaryFont;

  align-items: center;

  box-shadow: 0px 4px 10px -10px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.1);

  .m-cart-item-name,
  .m-cart-item-price {
    padding-left: 10px;
  }

  .m-cart-item-quantity {
    padding-left: 30px;
  }
}

.m-cart-item-delete {
  width: 20px;
  height: 20px;

  margin: auto;

  border-radius: 10px;

  background: url("../../icons/delete.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;

  outline: none;
}

.m-cart-item-delete:active {
  background-color: rgba(245, 245, 245, 0.8);
}

.m-error-prompt {
  position: absolute;
  width: 450px;
  top: 300px;

  text-align: center;
  font-size: 36px;

  color: $PrimaryFont;

  margin-left: 25px;
}

.m-item-cta-name {
  position: absolute;
  top: 100px;
  left: 0px;
  width: 100%;

  font-size: 16px;
  color: $PrimaryFont;
}

.m-item-cta-stock {
  position: absolute;
  bottom: 0px;
  left: 8%;
  margin-bottom: 10px;

  font-size: 16px;
  color: $PrimaryFont;
}

.m-item-cta-stock-qty {
  position: absolute;
  bottom: 0px;
  left: 33%;
  margin-bottom: 8px;

  font-size: 20px;
  font-weight: bold;
}

.m-item-cta-price {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 92%;
  margin-bottom: 10px;

  font-size: 24px;
  text-align: right;
  color: $PrimaryFont;
}
