// ==================================================================================
// module container: l1-swipable-images
.m1-imgA {
  height: 100vh;

  background-image: url("../../img/girl-walking-wall-whitespace-32246.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.m1-imgB {
  height: 100vh;

  background-image: url("../../img/marina-bay-sans-singapore-2804038.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
// ==================================================================================
// module container: l1-begin-panel
.m1-ptr-icon {
  margin-right: 20px;

  filter: drop-shadow(0px 1px 1px #000000);
  transform-origin: center;
  transform: scale(0.8);
  //animation: beating 1.2s ease-in-out infinite;
}

@keyframes beating {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.8);
  }
}
// ==================================================================================
// module container: l0-app-container
.m1-hidden-btn {
  position: absolute;
  width: inherit;
  height: inherit;

  opacity: 0;
}
