$PrimaryFont: whitesmoke;

// ==================================================================================
// module container: l6-headings-container
.m6-payment-heading {
  margin-top: 20px;

  font-size: 36px;
  font-weight: 600;
  color: $PrimaryFont;
}

.m6-payment-price {
  margin-top: 30px;

  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: $PrimaryFont;
}
// ==================================================================================
// module container: l6-payment-container
.m6-payment-1,
.m6-payment-2 {
  height: 210px;
  width: calc((700px / 2) - 40px);
  margin: 20px;

  border-radius: 10px;
  border: none;

  padding-top: 150px;

  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: $PrimaryFont;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);

  outline: none;
}

.m6-payment-1 {
  background-image: url("../../icons/creditcard.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.m6-payment-2 {
  background-image: url("../../img/qr_code.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

.m6-payment-1:active,
.m6-payment-2:active {
  background-color: rgba(245, 245, 245, 0.8);
}
