$PrimaryFont: whitesmoke;

div {
  display: flexbox;
}

.m7-waitpayment-text {
  width: 100vw;
  height: 50px;

  font-size: 38px;
  color: $PrimaryFont;
  font-weight: bold;
  text-align: center;
}
.m7-pos-icon {
  width: 250px;
  margin-left: calc((100vw - 250px) / 2);

  margin-top: 10px;
}

.m7-counter {
  width: 100vw;
  height: 30px;

  margin-top: 20px;

  font-size: 22px;
  color: $PrimaryFont;
  text-align: center;
}
