$PrimaryFont: whitesmoke;
$Orange: #e79b25;

// ==================================================================================
// module container: l9-management-container
.m9-management-close {
  position: absolute;
  width: 70px;
  height: 50px;
  top: 0px;
  right: 0px;

  background-image: url("../../icons/close.png");
  background-size: 40%;
  background-repeat: no-repeat;
  background-position: center;

  background-color: rgba(255, 255, 255, 0.1);

  border: none;
  border-top-right-radius: 10px;

  outline: none;
}

.m9-management-close:active {
  background-color: $Orange;
}

.m9-addinventory {
  position: absolute;
  top: 20px;
  max-width: 100%;

  color: $PrimaryFont;
  text-align: left;
  font-size: 30px;
  padding-left: 20px;
}

.m9-stock {
  position: absolute;
  width: 50%;
  bottom: 40%;
  left: 0px;
}

.m9-update-stock-btn {
  position: absolute;
  width: 300px;
  height: 100px;
  bottom: 10%;
  left: calc((100% - 300px) / 2);

  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 22px;
  font-weight: bold;
  color: $PrimaryFont;

  background-color: $Orange;
  border: none;

  border-radius: 10px;

  outline: none;
}

.m9-update-stock-btn:active {
  background-color: darken($Orange, 10%);
  color: darken($PrimaryFont, 10%);
}
// ==================================================================================
// module container: l9-inventory-list-container
.m9-home-btn {
  width: 100px;
  height: 200px;
  color: $PrimaryFont;
  text-align: center;
  font-size: 12px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(80px);

  border-radius: 10px;

  margin: auto;

  outline: none;
}
// ==================================================================================
// module container: l9-inventory-container
.m9-inventory {
  width: 100px;
  height: 200px;
  color: $PrimaryFont;
  text-align: center;
  font-size: 12px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(80px);

  border-radius: 10px;

  outline: none;
}

.m9-inventory-stock {
  font-size: 20px;
  font-weight: bold;
}
