$PrimaryFont: whitesmoke;
$Orange: #e79b25;

.m-nric,
.m-prescribe-id,
.m-valid-date {
  margin-left: 40px;
  font-size: 16px;
}

.m-slider-switch {
  position: absolute;
  display: inline-block;
  width: 80px;
  height: 40px;
  right: 0px;
  border-radius: 40px;

  input {
    width: 0px;
    height: 0px;
    opacity: 0;
    outline: none;
  }

  span {
    position: absolute;
    cursor: pointer;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.3);
    transition: 0.4s;

    border-radius: 40px;

    display: flex;

    color: $PrimaryFont;

    p {
      width: 50%;
      margin: 0px;

      display: flex;

      align-items: center;
      justify-content: center;
    }
  }

  span:before {
    position: absolute;
    content: "";
    height: 32px;
    width: 32px;
    left: 4px;
    bottom: 4px;
    background-color: $PrimaryFont;
    transition: 0.4s;

    border-radius: 16px;
  }

  input:checked + span {
    background-color: $Orange;
  }

  input:focus + span {
    box-shadow: 0 0 1px $Orange;
  }

  input:checked + span:before {
    transform: translateX(40px);
  }
}

.m-presc-arrow-container {
  position: absolute;
  width: 99%;
  height: 10%;
  top: 76%;
  left: 0.5%;

  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  background-color: rgba(255, 255, 255, 0.3);
}

.m-checkoutpresc-cta {
  position: absolute;
  width: 450px;
  height: 60px;
  bottom: 1.5%;
  right: 0.5%;

  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;
  font-size: 22px;
  font-weight: bold;
  color: $PrimaryFont;

  background-color: $Orange;
  border: none;
  border-radius: 10px;

  outline: none;
}

.m-checkoutpresc-cta:active {
  background-color: darken($Orange, 10%);
  color: darken($PrimaryFont, 10%);
}

.m-empty-prompt {
  position: absolute;
  width: 30%;
  height: 60%;
  top: 13.5%;
  left: 35%;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 1);

  display: flex;

  button {
    position: absolute;
    width: 30%;
    height: 50px;
    bottom: 10px;
    left: 35%;

    border-radius: 10px;
    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
    font-size: 22px;
    font-weight: bold;
    color: $PrimaryFont;

    background-color: $Orange;
    border: none;

    outline: none;
  }
}

.m-plus,
.m-minus {
  width: 35px;
  height: 35px;

  margin: auto;

  border-radius: 25px;
  font-size: 16px;

  color: $PrimaryFont;

  box-shadow: 0px 0px 4px 0px rgba(255, 255, 255, 0.35),
    inset 0px 0px 3px 0px rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.1);

  outline: none;
}

.m-plus:active,
.m-minus:active {
  background-color: $Orange;
}

.m-plus:disabled,
.m-minus:disabled {
  background-color: rgba(255, 255, 255, 0.7);
}
