$PrimaryFont: whitesmoke;
$Gsl: #2e8b57;
$Presc: #008faf;

.m-welcome {
  margin: 0px;

  font-size: 64px;
  font-weight: 600;
  color: $PrimaryFont;
}

.m-helper {
  margin: 0px;

  font-family: "Open Sans", sans-serif;
  font-size: 28px;
  font-weight: normal;
  color: $PrimaryFont;
}

.m-gsl-cta {
  width: 44.75vw;

  margin-left: 5vw;
  margin-right: 0.5vw;

  display: flex;
  align-items: center;

  animation: sizing1 0.5s ease-in 0s 1;

  button {
    width: 100%;
    height: 100%;

    background-image: url("../../icons/gsl_icon.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 1vw center;

    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
    font-size: 36px;
    font-weight: bold;
    color: $Gsl;

    padding-left: 25vw;

    text-align: center;

    margin: 0px auto;

    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;

    box-shadow: 0 9px #999;

    border: none;

    outline: none;
  }

  button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

.m-presc-cta {
  width: 44.75vw;

  margin-right: 5vw;

  display: flex;
  align-items: center;

  animation: sizing2 0.5s ease-in 0s 1;

  button {
    width: 100%;
    height: 100%;

    background-image: url("../../icons/presc_icon.png");
    background-repeat: no-repeat;
    background-size: 50%;
    background-position: 21vw center;

    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
    font-size: 36px;
    font-weight: bold;
    color: #008faf;

    padding-right: 25vw;

    text-align: center;

    margin: 0px auto;

    border-top-right-radius: 200px;
    border-bottom-right-radius: 200px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    box-shadow: 0 9px #999;

    border: none;

    outline: none;
  }

  button:active {
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
}

@keyframes sizing1 {
  0% {
    transform: scale(0.9);
  }

  30% {
    transform: scale(1.1);
  }

  80% {
    transform: scale(1);
  }
}

@keyframes sizing2 {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}
