$PrimaryFont: whitesmoke;

.l-item-cta {
  width: 200px;
  height: calc((100vh - 90px) / 3);

  border-radius: 30px; // bug fix

  margin-bottom: 10px;
  overflow: hidden;
  scroll-snap-align: start;
}

.l-items {
  position: absolute;
  width: 680px;
  height: calc(100vh - 60px);
  left: 80px;

  margin-top: 10px;

  scroll-snap-type: y mandatory;
  overflow-y: scroll;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
}

.l-items::-webkit-scrollbar {
  display: none;
}

.l-iteminfo {
  position: absolute;
  width: 770px;
  height: calc(100vh - 60px);

  margin-top: 10px;
}

.l-cart-panel {
  position: absolute;
  width: 500px;
  height: calc(100vh - 70px);
  right: 10px;

  margin-top: 10px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);

  border-radius: 10px;

  animation: slidein 0.4s ease-out 1;

  .cart-header {
    width: 450px;

    font-size: 24px;
    color: $PrimaryFont;

    text-align: center;

    padding-bottom: 5px;

    margin-top: 5px;
    margin-left: 25px;

    border-bottom: solid $PrimaryFont;

    opacity: 0.8;
  }

  .list-header {
    width: 450px;

    font-size: 16px;
    color: $PrimaryFont;

    display: grid;
    grid-template-columns: 200px 90px 90px 50px;
    grid-template-rows: 1;
    grid-template-areas: "item qty price null1";

    padding: 0px;

    margin-top: 10px;
    margin-left: 25px;

    opacity: 0.8;

    .item {
      grid-area: item;
      margin-top: 10px;
      margin-bottom: 10px;

      padding-left: 10px;
    }

    .qty {
      grid-area: qty;
      margin-top: 10px;
      margin-bottom: 10px;

      padding-left: 10px;
    }

    .price {
      grid-area: price;
      margin-top: 10px;
      margin-bottom: 10px;

      padding-left: 10px;
    }
  }
}

@keyframes slidein {
  from {
    transform: translateX(510px);
  }
  to {
    transform: translateX(0px);
  }
}

.l-price-container {
  position: absolute;
  height: 38.67px;
  bottom: 0px;
  left: 0px;

  color: $PrimaryFont;

  display: flex;

  margin-bottom: 80px;
  margin-left: 25px;

  opacity: 0.8;

  .tprice-label {
    margin: 0px;

    font-size: 16px;

    display: flex;
    align-items: flex-end;
  }

  .tprice-amt {
    margin: 0px;
    margin-left: 25px;

    font-size: 36px;

    display: flex;
    align-items: flex-end;
  }
}
