$PrimaryFont: whitesmoke;
$Orange: #e79b25;

.l8-general-info-container {
  position: absolute;
  width: 70vw;
  height: 100%;
}

.l8-rating-container {
  position: absolute;
  width: 500px;
  height: 100px;
  bottom: 350px;
  left: calc((100% - 500px) / 2);

  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  align-items: center;
}

.l8-purchased-container {
  position: absolute;
  height: 98%;
  width: 28vw;
  top: 1%;
  right: 0.5vw;

  border-radius: 10px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.l8-itemcta-container {
  width: 100%;
  height: 100%;

  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.l8-itemcta-container::-webkit-scrollbar {
  display: none;
}

.l8-itemcta-container2 {
  position: relative;
  width: 95%;
  height: calc((100% / 2.5) - 10px);
  margin-left: 2.5%;
  margin-bottom: 10px;

  border-radius: 10px;
  scroll-snap-align: start;

  button {
    width: 100%;
    height: 100%;

    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    background-position-y: 0px;

    border-radius: 10px;
    outline: none;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
      inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
  }

  p {
    position: absolute;
    bottom: 20px;
    left: 0px;
    width: 100%;
    height: 30px;

    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;

    margin: 0px;

    color: $PrimaryFont;

    font-size: 24px;
  }
}

.l8-iteminfo-container {
  width: calc(100% - 20px);
  height: calc(100% - 20px);

  margin-top: 10px;
  margin-left: 10px;

  border-radius: 10px;

  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(0px);

  button {
    position: absolute;
    width: 60%;
    height: 8%;
    bottom: 10px;
    margin-left: 20%;

    border-radius: 100px;

    font-family: "Montserrat", sans-serif;
    letter-spacing: -0.015em;
    font-size: 22px;
    font-weight: bold;
    color: $PrimaryFont;

    background-color: darken($Orange, 10%);
    border: none;
    outline: none;
  }

  button:active {
    background-color: darken($Orange, 20%);
  }
}

.l8-iteminfo-desc-container {
  height: 100%;
  overflow-y: scroll;

  margin-top: 10px;

  p {
    width: 95%;

    margin: 0px;
    padding-left: 5px;
    padding-top: 5px;
    background-color: rgba(255, 255, 255, 0.1);

    font-size: 14px;
  }
}

.l8-iteminfo-desc-container::-webkit-scrollbar {
  width: 12px;
}

.l8-iteminfo-desc-container::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  margin-left: 30px;
}

.l8-iteminfo-desc-container::-webkit-scrollbar-thumb {
  background-color: $PrimaryFont;
  border-radius: 10px;
}

.l8-arrow-container {
  position: absolute;

  width: 100%;
  height: 50px;
  bottom: 0px;
  left: 0px;

  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  text-align: center;

  background-color: rgba(255, 255, 255, 0.25);
}
