.l-app {
  position: relative;
  width: 100vw;
  height: 100vh;

  display: flex;
}

.l-selectionpage,
.l-gsl,
.l-getpresc {
  position: absolute;
  width: 100vw;
  height: calc(100vh - 50px);
  bottom: 0px;
}
