$PrimaryFont: whitesmoke;

.l-prescription-info {
  position: absolute;
  width: 30vw;
  height: 120px;
  top: 0px;

  display: flexbox;

  align-items: center;
  color: $PrimaryFont;
}

.l-email-msg {
  position: relative;
  background-color: red;
  width: 50%;
  height: 100px;
  display: grid;
}

.l-presc-panel-container {
  position: absolute;
  width: calc(100% - 20px);
  height: calc(100% - 140px);
  bottom: 20px;
  left: 10px;

  border-radius: 10px;

  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.15),
    inset 0px 0px 5px 0px rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(5px);
}

.l-presc-list-container {
  position: absolute;
  width: 99%;
  height: 65%;
  left: 0.5%;
  top: 11%;

  background-color: rgba(255, 255, 255, 0.1);

  scroll-snap-type: y mandatory;
  overflow-y: scroll;
}

.l-presc-list-container::-webkit-scrollbar {
  display: none;
}

.l-presc-headings {
  position: absolute;
  width: 99%;
  height: 10%;
  top: 1%;
  left: 0.5%;

  display: grid;

  grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr 1fr;

  border-bottom: solid $PrimaryFont;

  opacity: 0.8;

  .l-left {
    height: 100%;

    margin-left: 10px;
    margin-top: 0px;

    display: flex;
    text-align: center;
    align-items: center;

    color: $PrimaryFont;
  }

  .l-center {
    width: 100px;
    text-align: center;
    color: $PrimaryFont;

    margin: auto;
  }
}

.l-presc-item {
  width: 100%;
  height: calc(100% / 3);

  display: grid;

  grid-template-columns: 0.8fr 1.2fr 1fr 1fr 1fr 1fr 1fr 1fr;

  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 4px 10px -10px rgba(0, 0, 0, 1);

  img {
    background-color: $PrimaryFont;
    width: 90%;
    height: 90%;

    margin: 5%;
  }

  .l-left {
    height: 100%;

    display: flex;
    text-align: left;
    align-items: center;

    color: $PrimaryFont;
    margin: 0px;
    padding-left: 10px;
  }

  .l-center {
    display: flex;
    text-align: center;
    color: $PrimaryFont;
    align-items: center;
    margin: auto;
  }
}

.l-presc-qty-container {
  display: grid;

  grid-template-columns: 0.5fr 1fr 0.5fr;

  .l-center {
    width: 85%;
    height: 50px;

    border-radius: 15px;
    font-size: 24px;

    display: inline;
    text-align: center;

    line-height: 50px;
    background-color: rgba(255, 255, 255, 0.1);
  }
}

.l-presc-total-container {
  position: absolute;
  height: 38.67px;
  bottom: 2.5%;
  left: 1%;

  display: flex;
  color: $PrimaryFont;

  .l-presc-total-label {
    font-size: 16px;
    margin: 0px;

    display: flex;
    align-items: flex-end;

    opacity: 0.8;
  }

  .l-presc-total-price {
    font-size: 36px;
    margin: 0px;
    margin-left: 10px;
  }
}
