$PrimaryFont: whitesmoke;

header {
  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;

  color: $PrimaryFont;
}

body {
  touch-action: none; //disable zoom

  font-family: "Montserrat", sans-serif;
  letter-spacing: -0.015em;

  background-image: url("../../img/bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}
